@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin apply-spin($duration: 1s, $timing: linear, $iteration: infinite) {
  animation: spin $duration $timing $iteration;
}